In [1]:
import pandas as pd

Data Analysis
1. description
2. diagnosis
3. prediction
4. actoins/prescription

In [6]:
# read he other file
df1 = pd.read_csv('u.item',sep='|',names = item_cols,
                  encoding = "ISO-8859 -1")[['movie_id','title']]

In [3]:
cols = ['user_id','movie_id','rating','ts']

In [5]:
df = pd.read_csv('u.data',sep='\t',names=cols)

In [5]:
item_cols=['movie_id','title']+[str(i) for i in range(22)]

In [21]:
df1.shape

(1682, 2)

exploratry data analysis

In [6]:
df.head()

   user_id  movie_id  rating         ts
0        0        50       5  881250949
1        0       172       5  881250949
2        0       133       1  881250949
3      196       242       3  881250949
4      186       302       3  891717742

In [22]:
df.sample(5)

       user_id  movie_id  rating         ts
68529       83       248       3  883868788
30261      234       102       2  892335616
12001      311       183       5  884365519
81722      745       182       2  880123314
96165      561       159       1  885809356

In [23]:
df1.sample(5)

     movie_id                                              title
940       941                                 With Honors (1994)
802       803                              Heaven & Earth (1993)
381       382  Adventures of Priscilla, Queen of the Desert, ...
217       218                                   Cape Fear (1991)
82         83                      Much Ado About Nothing (1993)

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  1682 non-null   int64
 1   title     1682 non-null   object
dtypes: int64(1), object(1)
memory usage: 26.4+ KB

try to find the diffrent data
1. string with categorical info
2. string with random stuff
3. numbers with quanitified info
4. numbers with categorial info
5. random numbers or ID sort of data

In [8]:
df.columns

Index(['user_id', 'movie_id', 'rating', 'ts'], dtype='object')

In [9]:
df['rating'].unique()

array([5, 1, 3, 2, 4], dtype=int64)

In [10]:
df['rating'].nunique()

5

In [11]:
df['user_id'].nunique()

944

In [12]:
df['movie_id'].nunique()

1682

In [13]:
# merging dataframes

In [30]:
movie = pd.merge(df,df1,on = 'movie_id')
movie.head()

   user_id  movie_id  rating         ts             title
0        0        50       5  881250949  Star Wars (1977)
1      290        50       5  880473582  Star Wars (1977)
2       79        50       4  891271545  Star Wars (1977)
3        2        50       5  888552084  Star Wars (1977)
4        8        50       5  879362124  Star Wars (1977)

In [34]:
# remove the reduandant or useless column i.e. ts
movie.drop('ts', axis = 1 ,inplace=True)

In [35]:
movie.head

<bound method NDFrame.head of         user_id  movie_id  rating  \
0             0        50       5
1           290        50       5
2            79        50       4
3             2        50       5
4             8        50       5
...         ...       ...     ...
99998       840      1674       4
99999       655      1640       3
100000      655      1637       3
100001      655      1630       3
100002      655      1641       3

                                                    title
0                                        Star Wars (1977)
1                                        Star Wars (1977)
2                                        Star Wars (1977)
3                                        Star Wars (1977)
4                                        Star Wars (1977)
...                                                   ...
99998                                   Mamma Roma (1962)
99999                              Eighth Day, The (1996)
100000                                  Girls Town (1996)
100001  Silence of the Palace, The (Saimt el Qusur) (1...
100002                                    Dadetown (1995)

[100003 rows x 4 columns]>

In [38]:
movie.columns

Index(['user_id', 'movie_id', 'rating', 'title'], dtype='object')

In [40]:
# find the numbers of rating for each movie
movie['title'].value_counts().head(10)

Star Wars (1977)                 584
Contact (1997)                   509
Fargo (1996)                     508
Return of the Jedi (1983)        507
Liar Liar (1997)                 485
English Patient, The (1996)      481
Scream (1996)                    478
Toy Story (1995)                 452
Air Force One (1997)             431
Independence Day (ID4) (1996)    429
Name: title, dtype: int64

In [42]:
movie.groupby('title')['rating'].mean().sort_values(ascending=False).head(10)

title
They Made Me a Criminal (1939)                       5.0
Marlene Dietrich: Shadow and Light (1996)            5.0
Saint of Fort Washington, The (1993)                 5.0
Someone Else's America (1995)                        5.0
Star Kid (1997)                                      5.0
Great Day in Harlem, A (1994)                        5.0
Aiqing wansui (1994)                                 5.0
Santa with Muscles (1996)                            5.0
Prefontaine (1997)                                   5.0
Entertaining Angels: The Dorothy Day Story (1996)    5.0
Name: rating, dtype: float64

In [46]:
rating = pd.DataFrame(movie.groupby('title')\
                      ['rating'].mean().sort_values(ascending=False))

In [48]:
rating['count'] = movie['title'].value_counts()

In [49]:
rating.sort_values(by='count',ascending=False).head(20)

                                    rating  count
title
Star Wars (1977)                  4.359589    584
Contact (1997)                    3.803536    509
Fargo (1996)                      4.155512    508
Return of the Jedi (1983)         4.007890    507
Liar Liar (1997)                  3.156701    485
English Patient, The (1996)       3.656965    481
Scream (1996)                     3.441423    478
Toy Story (1995)                  3.878319    452
Air Force One (1997)              3.631090    431
Independence Day (ID4) (1996)     3.438228    429
Raiders of the Lost Ark (1981)    4.252381    420
Godfather, The (1972)             4.283293    413
Pulp Fiction (1994)               4.060914    394
Twelve Monkeys (1995)             3.798469    392
Silence of the Lambs, The (1991)  4.289744    390
Jerry Maguire (1996)              3.710938    384
Chasing Amy (1997)                3.839050    379
Rock, The (1996)                  3.693122    378
Empire Strikes Back, The (1980)   4.206522    368
Star Trek: First Contact (1996)   3.660274    365

In [50]:
movie_pivot = movie.pivot_table(index = 'user_id',columns = 'title',values = 'rating')
movie_pivot.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
movie_selected = 'Star Wars (1977)'

In [55]:
ms_rates = movie_pivot[movie_selected]
ms_rates.head()

user_id
0    5.0
1    5.0
2    5.0
3    NaN
4    5.0
Name: Star Wars (1977), dtype: float64

In [29]:
import warnings
warnings.filterwarnings('ignore')

In [58]:
corrs = movie_pivot.corrwith(ms_rates)
corrs.head()

title
'Til There Was You (1997)    0.872872
1-900 (1994)                -0.645497
101 Dalmatians (1996)        0.211132
12 Angry Men (1957)          0.184289
187 (1997)                   0.027398
dtype: float64

In [67]:
corrs.sort_values(ascending=False).head(20)

title
Hollow Reed (1996)                                                                   1.0
Commandments (1997)                                                                  1.0
Cosi (1996)                                                                          1.0
No Escape (1994)                                                                     1.0
Stripes (1981)                                                                       1.0
Star Wars (1977)                                                                     1.0
Man of the Year (1995)                                                               1.0
Beans of Egypt, Maine, The (1994)                                                    1.0
Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)    1.0
Outlaw, The (1943)                                                                   1.0
Line King: Al Hirschfeld, The (1996)                                                 1.0
Hurricane Streets (1998)                                                             1.0
Scarlet Letter, The (1926)                                                           1.0
Good Man in Africa, A (1994)                                                         1.0
Safe Passage (1994)                                                                  1.0
Golden Earrings (1947)                                                               1.0
Full Speed (1996)                                                                    1.0
Twisted (1996)                                                                       1.0
Ed's Next Move (1996)                                                                1.0
Mondo (1996)                                                                         1.0
dtype: float64

In [70]:
corrs_df = pd.DataFrame(corrs, columns= ['Correlation'])
corrs_df.head()

                           Correlation
title
'Til There Was You (1997)     0.872872
1-900 (1994)                 -0.645497
101 Dalmatians (1996)         0.211132
12 Angry Men (1957)           0.184289
187 (1997)                    0.027398

In [72]:
corrs_df['rating'] = rating['rating']
corrs_df['count'] = rating['count']

In [74]:
corrs_df.head()

                           Correlation    rating  count
title
'Til There Was You (1997)     0.872872  2.333333      9
1-900 (1994)                 -0.645497  2.600000      5
101 Dalmatians (1996)         0.211132  2.908257    109
12 Angry Men (1957)           0.184289  4.344000    125
187 (1997)                    0.027398  3.024390     41

In [78]:
corrs_df[corrs_df['count']>50].sort_values(
    by='Correlation', ascending=False).head(10)

,Correlation,rating,count
title,,,
Star Wars (1977),1.000000,4.359589,584
"Empire Strikes Back, The (1980)",0.748353,4.206522,368
Return of the Jedi (1983),0.672556,4.007890,507
Raiders of the Lost Ark (1981),0.536117,4.252381,420
Giant (1956),0.488093,3.745098,51
"Life Less Ordinary, A (1997)",0.411638,3.075472,53
Austin Powers: International Man of Mystery (1997),0.377433,3.246154,130
"Sting, The (1973)",0.367538,4.058091,241
Indiana Jones and the Last Crusade (1989),0.350107,3.930514,331
Pinocchio (1940),0.347868,3.673267,101

In [81]:
top_recom = list(corrs_df[corrs_df['count']>50].sort_values(
    by='Correlation', ascending=False).head(3).index)

In [82]:
top_recom.remove(movie_selected)

In [83]:
top_recom

['Empire Strikes Back, The (1980)', 'Return of the Jedi (1983)']

In [4]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
def movie_recommend(movie_selected = 'Star Wars (1977)'):
     # Read Files   
     cols=['user_id','movie_id','rating','ts']               
     df=pd.read_csv('u.data',sep='\t',names=cols).drop('ts',axis=1)
     item_cols = ['movie_id','title']+ [str(i) for i in range(22)]               
     df1=pd.read_csv('u.item',sep='|',names = item_cols, encoding = "ISO-8859-1")[['movie_id','title']]               
                    
     # Merge the DataFrames
     movie = pd.merge(df,df1,on = 'movie_id')               
                    
     # Create Pivot Table 
     movie_pivot = movie.pivot_table(index= 'user_id',columns= 'title',values = 'rating')               
                    
     # Find Similarity For Selected Movie 
     corrs = movie_pivot.corrwith(movie_pivot[movie_selected])
     corrs_df = pd.DataFrame(corrs, columns = ['Correlation'])
     corrs_df['rating'] = movie.groupby('title')['rating'].mean()
     corrs_df['count'] = movie['title'].value_counts()               
                    
     # Find Top 2-3 Recommendations 
     top_recom = list(corrs_df[corrs_df['count']>50].sort_values(
         by='Correlation',ascending=False).head(3).index)            
     top_recom.remove(movie_selected)               
                    
                    
     return top_recom

In [5]:
movie_recommend('Giant (1956)')

['Daylight (1996)', 'Anastasia (1997)']